* {
    font-family: "Figtree", serif;
    scrollbar-width: thin;
    scrollbar-color: #17a2b8 #e2e2e2;
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background-color: #e2e2e2;
    border-radius: 1.5rem;
}

::-webkit-scrollbar-thumb {
    background-color: #17a2b8;
    border-radius: 1.5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #117a8c;
}


body {
    background-color: #f9f9f9;
    margin: 0;
    padding: 1.3rem;
    scroll-behavior: smooth;
}

.container {
    max-width: 80%;
    margin: 0 auto;
    background: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.1);
    padding: 1.3rem;
}

h1 {
    text-align: center;
    color: #333;
}

.todo-input {
    padding: 1rem 2rem;
    border: 0.06rem solid #ddd;
    border-radius: 0.3rem;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    margin: 1rem 0;
}

.input-group {
    display: flex;
    align-items: center;
}

.input-group-prepend {
    display: flex;
    align-items: center;
}

.input-group-text {
    padding: 0.813rem;
    display: flex;
    align-items: center;
    border-radius: 0.3rem 0rem 0rem 0.3rem;
    background-color: #17a2b8;
    color: white;
}

.todo-input input {
    padding: 0.7rem;
    border: 0.13rem solid #ddd;
    border-radius: 0rem 0.3rem 0.3rem 0rem;
    outline: none;
}

.todo-input button {
    margin-top: 0.6rem;
    background-color: #17a2b8;
    color: white;
    border: none;
    padding: 0.6rem 1.3rem;
    border-radius: 0.3rem;
    cursor: pointer;
}

.todo-input button:hover {
    background-color: #117a8c;
}

.todo-input .error {
    color: red;
    font-size: 0.8rem;
    margin-top: 0.3rem;
}

.filter-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.3rem;
}

.filter-buttons button {
    flex: 1;
    margin: 0 0.3rem;
    padding: 0.6rem;
    background-color: #17a2b8;
    color: white;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
}

.filter-buttons button:hover {
    background-color: #117a8c;
}

.filter-buttons button.active {
    background-color: #147485;
}

.todo-list {
    list-style-type: none;
    padding: 0;
    height: 1rem;
    min-height: 20rem;
    overflow: auto;
    text-align: center;
    font-size: 1rem;
    margin-top: 1.3rem;
}

.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.6rem;
    border: 0.06rem solid #ddd;
    border-radius: 0.3rem;
    margin-bottom: 0.6rem;
    background-color: #f9f9f9;
}

.todo-item.done span {
    text-decoration: line-through;
    color: #f44336;
    font-weight: 500;
}

.todo-actions {
    display: flex;
    gap: 0.6rem;
}

.todo-actions button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.todo-actions .toggle .fa-square-check {
    color: #00ff0d;
}

.todo-actions .edit {
    color: #ffa000;
}

.todo-actions .delete {
    color: #f44336;
}


.footer-buttons {
    display: flex;
    justify-content: space-between;
}

.footer-buttons button {
    flex: 1;
    margin: 0 0.3rem;
    padding: 0.6rem;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
}

.footer-buttons button:hover {
    background-color: #d32f2f;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #fff;
    padding: 1.3rem;
    border-radius: 0.5rem;
    text-align: center;
    width: 19rem;
}

.modal-content input {
    width: 90%;
    padding: 0.6rem;
    margin-bottom: 1rem;
    border: 0.16rem solid #ddd;
    border-radius: 0.3rem;
}

.modal-content .modal-actions {
    display: flex;
    justify-content: space-between;
}

.modal-content button {
    flex: 1;
    margin: 0 0.3rem;
    padding: 0.6rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    font-weight: 600;
}

.modal-content .error {
    display: flex;
    color: red;
    padding-left: 0.6rem;
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

.modal-content .save {
    background-color: #17a2b8;
    color: white;
}

.modal-content .save:hover {
    background-color: #117a8c;
}

.modal-content .confirm {
    background-color: #cccccc;
    color: black;
}
.modal-content .cancel {
    background-color: #f44336;
    color: white;
}

.modal-content .cancel:hover {
    background-color: #d32f2f;
}

.form-control {
    flex-grow: 1;
    padding: 0.6rem;
    border: 0.06rem solid #ddd;
    border-radius: 0.3rem;
}

.message-box {
    background-color: #f8d7da;
    color: #721c24;
    padding: 0.6rem;
    margin-top: 0.6rem;
    border: 0.06rem solid #f5c6cb;
    border-radius: 0.3rem;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 700;
    animation: fadeInOut 3s ease-in-out;

}

@media (max-width: 768px) {
    .container {
        max-width: 95%;
        padding: 0.6rem;
    }

    .modal-content {
        width: 90%;
    }
.filter-buttons button {
        padding: 0.5rem;
        font-size: 0.9rem;
    }
}

input:invalid {
    border-color: #f44336;
    background-color: #ffe6e6;
}

.modal-content {
    transform: scale(0.8);
    transition: transform 0.3s ease-in-out;
}

.modal[style="display: flex;"] .modal-content {
    transform: scale(1);
}

.todo-item.done span {
    text-decoration: line-through;
    color: #f44336;
    font-weight: 600;
    transition: color 0.3s, text-decoration 0.3s;
}


@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(-0.6rem);
    }

    10%,
    90% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-0.6rem);
    }
}
